*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria';
    scroll-behavior: smooth;
}

.zone-lang{
    text-align: right;
}

@media(max-width:550px) {
    .About_1{
        margin-top: 0px;
    }

    .respon{
        height: 480px !important;
    }

    .title{
        margin-top: 20px;
        font-size: 30px;
        padding-bottom: 20px;
    }

    .text-tittle{
        margin-bottom: 10px !important;
        font-size: 25px !important;
    }

    .text-content{
       padding-top: 5px;
    }

    .con-note{
        text-align: left !important;
        width: 100%;
        padding: 0 25px;
    }

    .respon-about{
        margin-top: 20px;
        float: none !important;
        padding-right: 0px !important;
    }

    .banner{
        height: 470px;
    }

    .intro1{
        padding-top: 30px;
    }

    .right-content{
        margin-top: 50px;
    }
    
    .left-content h1{
        color: white;
        font-size: 30px;
        font-weight: bold;
    }

    .btn-func{
        color: rgb(64, 225, 172);
        background-color: white;
        border: 2px solid rgb(64, 225, 172);
        padding: 8px 15px;
        font-size: 20px;
        text-decoration: none;
    }
    
    .btn-find{
        justify-content: center;
        margin-bottom: 10px;
    }
    .fa-arrow-right-long{
        padding-left: 8px;
    }

    .hide{
        display: none;
    }

    .origin{
       display: none;
    }

    .title-footer{
        font-size: 25px;
        margin-top: 25px;
    }
    
    .padding-left{
        padding-left: 20px;
    }

    .fa-brands{
        font-size: 25px;
    }
}